
{% extends 'base.html' %}
{% block content%}
{% block title %} Awsome Restaurants {% endblock %}
<h1>Welcome Compte payant</h1>
<head>
   <script src=""></script>
   {{form.media}}
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css" />
    <style>
        .container {
            min-height: 100vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        #locator-input-section {
            width: 100%;
            margin: 10px;
            max-width: 600px;

        }
    </style>
</head>



</html>


{% endblock %}