{% extends 'base.html' %}
{% block title %} page d'inscription {% endblock %}
{% block content %}
  <h2>S' inscrir : </h2>
  <div class="col-sm-5">
    <div class="form-group">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Sign up</button>
      </form>
    </div>
  </div>
{% endblock %}

<!--
     {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="display: none">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
      {% endfor %}
-->