{% extends 'base.html' %}
{% block title %} page de login {% endblock %}
{% block content %}

 
<br><br><br><br><br>
<html>

    <header >
        <div class="container">
            <center>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'comptegratuit_login' %}">Sign in  as Client For free</a>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'comptepayant_login' %}">Sgn in as Restaurant Owner</a>
        </center>
        </div>
    </header>
</html>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}