
{% extends 'base.html' %}

{% block content %}
           
<h2>Liste des postes:</h2> <br>

{% for p in post %}
<ul>
<li><h4>{{ p.user }}</h4></li>
<li><img src="{{ p.image.url }}"></li>
<li>{{ p.description }}</li>
<li>{{ p.restaurant }}</li>
<form action="{% url 'editpost' p.id|slugify %}">
    <button type="submit"  class="btn btn-primary"> Edit poste </button>
 </form>
 <form action="{% url 'supprimerpost' p.id|slugify %}">
    <button type="submit"  class="btn btn-primary"> Supprimer poste </button>
 </form>
</ul>
{% endfor %}

{% endblock %}

</html>


